/* Estilos globales */
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo de la flor */
.flower {
  height: 200px;
  width: 200px;
  margin: 20px auto;
  position: relative;
  background-color: #000;

  /* Animación de pulsación */
  animation: pulsate 2s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.5);
  }
}

/* Estilos de los pétalos */
.petal {
  position: absolute;
  width: 200px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle, #ff5e00, #fbd702);
  filter: drop-shadow(0 0 5px #e05200);

  /* Asigna una clase diferente a cada pétalo para poder estilizarlos individualmente */
  &.yellow {
    background: radial-gradient(circle, #ff5e00, #ffbb00);
  }

  &.top {
    transform: rotate(22.5deg);
  }

  &.right {
    transform: rotate(67.5deg);
  }

  &.bottom {
    transform: rotate(110.5deg);
  }

  &.left {
    transform: rotate(157.5deg);
  }
}

/* Estilo del centro de la flor */
.mid {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: radial-gradient(circle, #000, #ff5e00, #000);
  z-index: 4;
  background-size: 5px 5px;
  filter: drop-shadow(0 0 8px #682600);
}

/* Estilos del texto */
.text {
  position: absolute;
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.text-above {
  top: -60px;
}

.text-below {
  bottom: -60px;
}
